# Programming Assignment 4
## Bailey Korfhage
## Version 1
## CS-150-01

In [31]:
translations = {'hello':'hola', 
                'chair': 'silla', 
                'llamas': 'name', 
                'table': 'mesa', 
                'hora': 'hour', 
                'hot': 'caliente', 
                'look': 'mira', 
                'school': 'escuela', 
                'church': 'iglesia', 
                'eye':'ojo', 
                'four': 'cuatro', 
                'blue': 'azul', 
                'computer': 'computadora', 
                'years': 'anos', 
                'cat': 'gato', 
                'woman': 'mujer', 
                'you': 'tu', 
                'milk': 'leche', 
                'library': 'biblioteca', 
                'one': 'uno'}
prompt='Enter a word to translate from English to Spanish (enter 0 to stop): '
active=True
while active:
    word=input(prompt)
    if word in translations:
        print('The Spanish word for', word.upper(), 'is', translations[word].upper())
    elif word == '0':
        break
    else:
        print('The Spanish translation for', word.upper(), 'is not in this dictionary.')

Enter a word to translate from English to Spanish (enter 0 to stop): cat
The Spanish word for CAT is GATO
Enter a word to translate from English to Spanish (enter 0 to stop): hello
The Spanish word for HELLO is HOLA
Enter a word to translate from English to Spanish (enter 0 to stop): tree
The Spanish translation for TREE is not in this dictionary.
Enter a word to translate from English to Spanish (enter 0 to stop): 0

In [46]:
faren={'September 1':86, 
       'September 2':89, 
       'September 3':88, 
       'September 4':82, 
       'September 5':86, 
       'September 6':85, 
       'September 7':83, 
       'September 8':82, 
       'September 9':86, 
       'September 10':83, 
       'September 11':82, 
       'September 12':76, 
       'September 13':76, 
       'September 14':82, 
       'September 15':85, 
       'September 16':86, 
       'September 17':86, 
       'September 18':86, 
       'September 19':90, 
       'September 20':93,
       'September 21':96, 
       'September 22':80, 
       'September 23':69, 
       'September 24':81, 
       'September 25':79, 
       'September 26':72, 
       'September 27':71, 
       'September 28':66, 
       'September 29':71, 
       'September 30':74}
cel={}
for date,temp in faren.items():
    cel.update({date:round((temp-32)*.5555,1)})
cel

{'September 1': 30.0,
 'September 2': 31.7,
 'September 3': 31.1,
 'September 4': 27.8,
 'September 5': 30.0,
 'September 6': 29.4,
 'September 7': 28.3,
 'September 8': 27.8,
 'September 9': 30.0,
 'September 10': 28.3,
 'September 11': 27.8,
 'September 12': 24.4,
 'September 13': 24.4,
 'September 14': 27.8,
 'September 15': 29.4,
 'September 16': 30.0,
 'September 17': 30.0,
 'September 18': 30.0,
 'September 19': 32.2,
 'September 20': 33.9,
 'September 21': 35.6,
 'September 22': 26.7,
 'September 23': 20.6,
 'September 24': 27.2,
 'September 25': 26.1,
 'September 26': 22.2,
 'September 27': 21.7,
 'September 28': 18.9,
 'September 29': 21.7,
 'September 30': 23.3}

In [48]:
D={}
for i in range(1,16):
    D.update({i:i**2})
D

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}